
<div class="container row">
    <div class="p-1"><button [ngStyle]="{'background-color':color }" type="button" class="btn  btn-primary ">Primary</button></div>
    <div class="p-1"><button [ngStyle]="{'background-color':color}" type="button" class="btn btn-secondary ">Secondary</button></div>
    <div class="p-1"><button [ngStyle]="{'background-color':color}" type="button" class="btn btn-warning  text-white">Success</button></div>
    <div class="p-1"><button [ngStyle]="{'background-color':color}" type="button" class="btn btn-danger ">Danger</button></div>





</div>


